@model List<IdentityRole>
@{
    ViewData["Title"] = "Role index";
}

<div class="container">
    <div class="d-flex align-items-center justify-content-between w-100">
        <h1>Roles list</h1>
        <div>
            <a class="btn btn-secondary" asp-controller="Role" asp-action="CreateRole" >Create user role</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr class="table-dark" >
                        <td>@role.Id</td>
                        <td>@role.Name</td>
                        <td class="d-flex">
                            <a asp-controller="Role" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary mr-2">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>